main {
  min-height: 80vh;
}
h3 {
  padding: 1rem 0;
}
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}
.rating span {
  margin: 0.1rem;
}

/* carousel */
.carousel {
  background-color: rgb(0, 0, 0);

  width: 50%;
  text-align: center;
  margin: auto;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 400px;
  margin: 40px;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}

.bg-primary {
  height: 9vh;
}

.nav-icons {
  padding-right: 2rem;
}
.nav-link {
  font-size: 120%;
}
.icon {
  margin-right: 8px;
}
.content {
  margin: auto;
  text-align: center;
  width: 80%;
  margin-top: 1rem;
}
.event-content {
  margin: auto;
  text-align: center;
  width: 60%;
  margin-top: 1rem;
  box-shadow: 0px 0px 5px 0.5px rgba(0, 0, 0, 0.2);
}

.gear {
  margin: auto;
  text-align: center;
  width: 70%;
}
.gear-heading {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 250%;
}
.rowss {
  margin-bottom: 20px;
}
.categories-card {
  align-items: center;
  text-align: center;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
}

.DDicons {
  margin-top: 5rem;
  margin-left: 1rem;
  margin-right: -10rem;
}
.embedMap {
  width: 75%;
  height: 55vh;
  border: none;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
}
.eventTitle {
  color: black;
  font-weight: bold;
  display: inline;
  padding-right: 10px;
}
.event-table-title > th {
  font-size: 110%;
}
.event-table-body {
  font-size: 100%;
}
.cart-screen {
  margin: auto;
  align-items: center;
  text-align: center;
  width: 90%;
}
.trash-button {
  display: inline-block;
  width: 5rem;
  margin: auto;
}
.gear-content {
  margin: auto;
  text-align: center;
  width: 100%;
}
.activeButtons {
  border-bottom: 5px solid rgb(0, 209, 28);
}
.payment-div {
  width: 90%;
  margin: auto;
}
.product {
  min-height: 100%;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1000px) {
  .space {
    height: 0px;
  }
  .bg-primary {
    height: auto;
  }
  .embedMap {
    width: 100%;
  }
  .carousel {
    width: 90%;
  }
  .event-content {
    width: 90%;
  }
  .events-address-mobile {
    display: none;
  }
  .shopping-cart {
    margin: auto;
    text-align: center;
    width: 90%;
  }

  .category-buttons {
    font-size: 90%;
    margin-left: -25px;
  }

  .content {
    width: 90%;
  }
  .gear {
    width: 80%;
  }
  .gear-heading {
    font-size: 190%;
  }
}

@media (max-width: 1200px) {
  .checkout {
    margin-top: 2rem;
  }
}
